.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #f00e0e inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.image-border {
    border: 5px solid #FFF9B6;
}